.8_57 { 
	overflow:hidden;
}.e8_57 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e8_65 { 
	width:381px;
	height:17px;
	position:absolute;
	left:761px;
	top:588px;
}.e8_66 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1113px;
	height:821px;
	position:absolute;
	left:162px;
	top:496px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1113px;
	height:499px;
	position:absolute;
	left:162px;
	top:1373px;
}.e28_2 { 
	color:rgba(0, 0, 0, 1);
	width:1112px;
	height:503px;
	position:absolute;
	left:163px;
	top:1369px;
	font-family:Sen;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e40_2752 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2753 { 
	background-color:rgba(255, 255, 255, 1);
	width:1418px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2754 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2755 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2756 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2757 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2758 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2759 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2760 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2761 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}